img{
    width: 200px;
}
body{
    text-align: center;
    font-family: "Comic Sans MS" , arial;
    background: Snow;
}
h1{
    color: red;
    background-color: lightskyblue;
    border-style: solid;
    border-width: 3px;
    border-color: red;
    border-left-width:10px;
    border-right-width: 10px;
}
strong {
    text-align:left;
    font-style: italic;
    text-transform: uppercase;
}